.results-container {
  display: flex;
  flex-direction: column;
}

.movie-result {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 5vh;
  border: 1px solid black;
}

.movie-result:hover {
  cursor: pointer;
}

.movie-result img {
  height: 2vh;
}

.movie-result span {
  flex-grow: 2;
}
