.results-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow-y: scroll;
}

.movie-result {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 5vh;
  border: 1px solid black;
}

.movie-result:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.movie-result img {
  height: 2vh;
  margin-left: 2%;
  margin-right: 2%;
}

.movie-result span {
  flex-grow: 2;
}
